alignment/AAVS1_24_U_rehead_fix_clean_sorted.bam
alignment/AAVS1_31_U_rehead_fix_clean_sorted.bam.bai
alignment/HMCES_KO_24_U_rehead_fix_clean_sorted.bam
alignment/HMCES_KO_31_U_rehead_fix_clean_sorted.bam.bai
alignment/AAVS1_24_U_rehead_fix_clean_sorted.bam.bai
alignment/AAVS1_no_U_rehead_fix_clean_sorted.bam
alignment/HMCES_KO_24_U_rehead_fix_clean_sorted.bam.bai
alignment/HMCES_KO_no_U_rehead_fix_clean_sorted.bam
alignment/AAVS1_31_U_rehead_fix_clean_sorted.bam
alignment/AAVS1_no_U_rehead_fix_clean_sorted.bam.bai
alignment/HMCES_KO_31_U_rehead_fix_clean_sorted.bam
alignment/HMCES_KO_no_U_rehead_fix_clean_sorted.bam.bai
raw_data/read1_AAVS1_24_U.fastq.gz
raw_data/read1_AAVS1_31_U.fastq.gz
raw_data/read1_AAVS1_no_U.fastq.gz
raw_data/read1_AAVS1_no_U_rep1.fastq.gz
raw_data/read1_HMCES_KO_24_U.fastq.gz
raw_data/read1_HMCES_KO_31_U.fastq.gz
raw_data/read1_HMCES_KO_no_U.fastq.gz
raw_data/read2_AAVS1_24_U.fastq.gz
raw_data/read2_AAVS1_31_U.fastq.gz
raw_data/read2_AAVS1_no_U.fastq.gz
raw_data/read2_HMCES_KO_24_U.fastq.gz
raw_data/read2_HMCES_KO_31_U.fastq.gz
raw_data/read2_HMCES_KO_no_U.fastq.gz
